@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

<<<<<<< HEAD
@media (prefers-color-scheme: Pink) {
  :root {
    --background: #840093;
=======
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
>>>>>>> 0c3375f6842a5d8133b3181a3dd6fa29acc5852a
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
<<<<<<< HEAD
}
=======
}
>>>>>>> 0c3375f6842a5d8133b3181a3dd6fa29acc5852a
